body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u119844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u119844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u119844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119845 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u119845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u119845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119846_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u119846 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u119846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u119847 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:146px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u119847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119848 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:54px;
  width:66px;
  height:30px;
  display:flex;
}
#u119848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119849 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:166px;
  width:1521px;
  height:96px;
}
#u119850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u119850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  display:flex;
}
#u119850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u119851 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:201px;
  height:36px;
  display:flex;
}
#u119851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u119852 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:201px;
  height:36px;
  display:flex;
}
#u119852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:36px;
}
#u119853 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:596px;
  height:36px;
  display:flex;
}
#u119853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u119854 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:0px;
  width:254px;
  height:36px;
  display:flex;
}
#u119854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u119855 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:0px;
  width:203px;
  height:36px;
  display:flex;
}
#u119855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u119856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:66px;
  height:30px;
  display:flex;
}
#u119856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119857 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:36px;
  width:201px;
  height:30px;
  display:flex;
}
#u119857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119858 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:36px;
  width:201px;
  height:30px;
  display:flex;
}
#u119858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u119859 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:36px;
  width:596px;
  height:30px;
  display:flex;
}
#u119859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u119860 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:36px;
  width:254px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u119860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u119861 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:36px;
  width:203px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u119861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u119862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:66px;
  height:30px;
  display:flex;
}
#u119862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119863 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:66px;
  width:201px;
  height:30px;
  display:flex;
}
#u119863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119864 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:66px;
  width:201px;
  height:30px;
  display:flex;
}
#u119864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u119865 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:66px;
  width:596px;
  height:30px;
  display:flex;
}
#u119865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u119866 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:66px;
  width:254px;
  height:30px;
  display:flex;
}
#u119866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u119867 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:66px;
  width:203px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u119867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119868_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u119868 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:166px;
  width:1521px;
  height:2px;
  display:flex;
}
#u119868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119869_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119869_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119869 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:118px;
  width:233px;
  height:30px;
  display:flex;
}
#u119869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119869_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119869.disabled {
}
#u119870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119870_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119870 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:118px;
  width:143px;
  height:30px;
  display:flex;
}
#u119870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119870_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119870.disabled {
}
#u119871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119871 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:118px;
  width:24px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119871 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119872_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119872 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:118px;
  width:152px;
  height:30px;
  display:flex;
}
#u119872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119872_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119872.disabled {
}
#u119873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119873 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:118px;
  width:80px;
  height:30px;
  display:flex;
}
#u119873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119874_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119874 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:118px;
  width:141px;
  height:30px;
  display:flex;
}
#u119874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119874_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119874.disabled {
}
#u119875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119875 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:118px;
  width:24px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119876 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:54px;
  width:66px;
  height:30px;
  display:flex;
}
#u119876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119878 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:23px;
  width:1514px;
  height:756px;
  display:flex;
}
#u119878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119879 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:25px;
  width:1512px;
  height:40px;
  display:flex;
}
#u119879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u119879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u119880 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:37px;
  width:98px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u119880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u119881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u119881 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:38px;
  width:15px;
  height:15px;
  display:flex;
}
#u119881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119882 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:704px;
  width:69px;
  height:30px;
  display:flex;
}
#u119882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119883 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:91px;
  width:6px;
  height:23px;
  display:flex;
}
#u119883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119884 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:104px;
  width:4px;
  height:10px;
  display:flex;
}
#u119884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u119885 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:91px;
  width:167px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u119885 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119886 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:165px;
  width:1284px;
  height:110px;
}
#u119887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:30px;
}
#u119887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:30px;
  display:flex;
}
#u119887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u119888 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u119888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u119889 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u119889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u119890 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u119890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:30px;
}
#u119891 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:0px;
  width:328px;
  height:30px;
  display:flex;
}
#u119891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u119892 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:214px;
  height:30px;
  display:flex;
}
#u119892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:40px;
}
#u119893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:442px;
  height:40px;
  display:flex;
}
#u119893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u119894 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u119894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u119895 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u119895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u119896 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u119896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
}
#u119897 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:30px;
  width:328px;
  height:40px;
  display:flex;
}
#u119897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u119898 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:30px;
  width:214px;
  height:40px;
  display:flex;
  color:#0000FF;
}
#u119898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:40px;
}
#u119899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:442px;
  height:40px;
  display:flex;
}
#u119899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u119900 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u119900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u119901 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u119901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u119902 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u119902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
}
#u119903 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:70px;
  width:328px;
  height:40px;
  display:flex;
}
#u119903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u119904 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:70px;
  width:214px;
  height:40px;
  display:flex;
  color:#0000FF;
}
#u119904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119906 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:205px;
  width:140px;
  height:20px;
  display:flex;
}
#u119906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119907 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:205px;
  width:73px;
  height:20px;
  display:flex;
}
#u119907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u119908 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:207px;
  width:29px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u119908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u119909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119910 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:246px;
  width:140px;
  height:20px;
  display:flex;
}
#u119910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u119911 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:248px;
  width:21px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u119911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
