body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u72264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72265 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u72265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72266 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:54px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72267_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1525px;
  height:5px;
}
#u72267 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:1522px;
  height:2px;
  display:flex;
}
#u72267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72268 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:170px;
  width:1502px;
  height:132px;
}
#u72269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u72269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
  display:flex;
}
#u72269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72270 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72271 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72272 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u72273 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:178px;
  height:36px;
  display:flex;
}
#u72273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72274 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:0px;
  width:267px;
  height:36px;
  display:flex;
}
#u72274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72275 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:267px;
  height:36px;
  display:flex;
}
#u72275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72276 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72277 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72278 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u72279 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:0px;
  width:235px;
  height:36px;
  display:flex;
}
#u72279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u72280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:27px;
  height:36px;
  display:flex;
}
#u72280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72281 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72282 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72283 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u72284 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:36px;
  width:178px;
  height:36px;
  display:flex;
}
#u72284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72285 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:36px;
  width:267px;
  height:36px;
  display:flex;
}
#u72285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72286 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:36px;
  width:267px;
  height:36px;
  display:flex;
}
#u72286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72287 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72288 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72289 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u72290 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:36px;
  width:235px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u72290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u72291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:27px;
  height:30px;
  display:flex;
}
#u72291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72292 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72293 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72294 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u72295 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:72px;
  width:178px;
  height:30px;
  display:flex;
}
#u72295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72296 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:72px;
  width:267px;
  height:30px;
  display:flex;
}
#u72296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72297 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:72px;
  width:267px;
  height:30px;
  display:flex;
}
#u72297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72298 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72299 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72300 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u72301 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:72px;
  width:235px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u72301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u72302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:27px;
  height:30px;
  display:flex;
}
#u72302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72303 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72304 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72305 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u72306 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:102px;
  width:178px;
  height:30px;
  display:flex;
}
#u72306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72307 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:102px;
  width:267px;
  height:30px;
  display:flex;
}
#u72307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72308 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:102px;
  width:267px;
  height:30px;
  display:flex;
}
#u72308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72309 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72310 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72311 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u72312 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:102px;
  width:235px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u72312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72313_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72313 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
}
#u72313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72313_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72313.disabled {
}
#u72314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72314_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72314 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72314_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72314.disabled {
}
#u72315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72315_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72315 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:119px;
  width:156px;
  height:30px;
  display:flex;
}
#u72315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72315_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72315.disabled {
}
#u72316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72316_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72316 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:119px;
  width:213px;
  height:30px;
  display:flex;
}
#u72316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72316_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72316.disabled {
}
#u72317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72317 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72318 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:119px;
  width:30px;
  height:30px;
  display:flex;
}
#u72318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72319_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72319 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:119px;
  width:109px;
  height:30px;
  display:flex;
}
#u72319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72319_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72319.disabled {
}
#u72320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72320_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72320 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
}
#u72320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72320_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72320.disabled {
}
#u72321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72321_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72321 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72321_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72321.disabled {
}
#u72322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72322 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:119px;
  width:30px;
  height:30px;
  display:flex;
}
#u72322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72323_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72323 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:119px;
  width:132px;
  height:30px;
  display:flex;
}
#u72323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72323_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72323.disabled {
}
#u72324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72324_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72324 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:119px;
  width:222px;
  height:30px;
  display:flex;
}
#u72324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72324_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72324.disabled {
}
#u72325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72325 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72326 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72327 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72327 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72327_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72328 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72329 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72330 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72331 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72332 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72333 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72334 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72335 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:248px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
