body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u113215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u113215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u113215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113216 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u113216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u113216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113217 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:141px;
  width:25px;
  height:25px;
  display:flex;
}
#u113217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113218 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:146px;
  width:84px;
  height:16px;
  display:flex;
}
#u113218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u113219 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:147px;
  width:14px;
  height:14px;
  display:flex;
}
#u113219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113220 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:95px;
  width:372px;
  height:30px;
  display:flex;
}
#u113220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u113221 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:98px;
  width:24px;
  height:24px;
  display:flex;
}
#u113221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113222 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:186px;
  width:25px;
  height:25px;
  display:flex;
}
#u113222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113223 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:191px;
  width:42px;
  height:16px;
  display:flex;
}
#u113223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u113224 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:192px;
  width:14px;
  height:14px;
  display:flex;
}
#u113224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113225 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:230px;
  width:25px;
  height:25px;
  display:flex;
}
#u113225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113226 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:235px;
  width:56px;
  height:16px;
  display:flex;
}
#u113226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113226_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u113227 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:236px;
  width:14px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u113227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113228 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:265px;
  width:25px;
  height:25px;
  display:flex;
}
#u113228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113229 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:270px;
  width:56px;
  height:16px;
  display:flex;
}
#u113229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u113230 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:271px;
  width:14px;
  height:14px;
  display:flex;
}
#u113230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113231 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:304px;
  width:84px;
  height:16px;
  display:flex;
}
#u113231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113232 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:339px;
  width:56px;
  height:16px;
  display:flex;
}
#u113232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113233 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:372px;
  width:126px;
  height:16px;
  display:flex;
}
#u113233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113234 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:407px;
  width:25px;
  height:25px;
  display:flex;
}
#u113234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113235 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:412px;
  width:42px;
  height:16px;
  display:flex;
}
#u113235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113235_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u113236 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:413px;
  width:14px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u113236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113238 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:58px;
  width:56px;
  height:16px;
  display:flex;
}
#u113238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113239 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:54px;
  width:20px;
  height:20px;
  display:flex;
}
#u113239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113241 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:54px;
  width:20px;
  height:20px;
  display:flex;
}
#u113241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113242 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:58px;
  width:56px;
  height:16px;
  display:flex;
}
#u113242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113243 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:57px;
  width:20px;
  height:20px;
  display:flex;
}
#u113243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:677px;
}
#u113244 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:78px;
  width:1px;
  height:676px;
  display:flex;
}
#u113244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u113245 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:146px;
  width:56px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u113245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u113246 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:162px;
  width:37px;
  height:37px;
  display:flex;
}
#u113246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113247 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:146px;
  width:933px;
  height:60px;
}
#u113248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113249 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113250 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113251 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113252 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u113253 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:153px;
  height:30px;
  display:flex;
}
#u113253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:156px;
  height:30px;
  display:flex;
}
#u113254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113255 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:30px;
  width:156px;
  height:30px;
  display:flex;
}
#u113255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113256 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:30px;
  width:156px;
  height:30px;
  display:flex;
}
#u113256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113257 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:30px;
  width:156px;
  height:30px;
  display:flex;
}
#u113257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113258 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:30px;
  width:156px;
  height:30px;
  display:flex;
}
#u113258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u113259 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:30px;
  width:153px;
  height:30px;
  display:flex;
}
#u113259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113260 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:252px;
  width:112px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:2px;
}
#u113261 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:278px;
  width:992px;
  height:1px;
  display:flex;
}
#u113261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113262 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:95px;
  width:112px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:2px;
}
#u113263 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:121px;
  width:992px;
  height:1px;
  display:flex;
}
#u113263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113264 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:317px;
  width:933px;
  height:30px;
}
#u113265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113266 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113267 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113268 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u113269 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:156px;
  height:30px;
  display:flex;
}
#u113269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u113270 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:153px;
  height:30px;
  display:flex;
}
#u113270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u113271 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:365px;
  width:84px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u113271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113272 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:248px;
  width:25px;
  height:25px;
  display:flex;
}
#u113272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u113273 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:442px;
  width:25px;
  height:25px;
  display:flex;
}
#u113273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113274 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:447px;
  width:145px;
  height:16px;
  display:flex;
}
#u113274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u113275 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:448px;
  width:14px;
  height:14px;
  display:flex;
}
#u113275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u113276 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:146px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u113276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113278 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:23px;
  width:805px;
  height:492px;
  display:flex;
}
#u113278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113279 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:25px;
  width:804px;
  height:40px;
  display:flex;
}
#u113279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u113279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113280 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:37px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u113280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u113281 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:38px;
  width:8px;
  height:15px;
  display:flex;
}
#u113281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113282 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:424px;
  width:37px;
  height:30px;
  display:flex;
}
#u113282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113283 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:424px;
  width:37px;
  height:30px;
  display:flex;
}
#u113283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u113284 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:129px;
  width:91px;
  height:30px;
  display:flex;
  text-align:right;
}
#u113284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u113285 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:176px;
  width:91px;
  height:30px;
  display:flex;
  text-align:right;
}
#u113285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u113286_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u113286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113286 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:176px;
  width:360px;
  height:30px;
  display:flex;
}
#u113286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113286_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113286.disabled {
}
#u113287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113287 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:129px;
  width:349px;
  height:30px;
  display:flex;
}
#u113287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:130px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113289 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:81px;
  width:164px;
  height:130px;
  display:flex;
}
#u113289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113290 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:98px;
  width:84px;
  height:16px;
  display:flex;
}
#u113290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113291 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:124px;
  width:140px;
  height:16px;
  display:flex;
}
#u113291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113292 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:150px;
  width:140px;
  height:16px;
  display:flex;
}
#u113292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113293 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:176px;
  width:84px;
  height:16px;
  display:flex;
}
#u113293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
