body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u114144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:742px;
}
#u114144 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:138px;
  width:1242px;
  height:742px;
  display:flex;
  font-size:48px;
}
#u114144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
