body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u127759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u127759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u127759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127760 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u127760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u127760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u127761 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:38px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u127761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u127761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u127762_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1529px;
  height:5px;
}
#u127762 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:68px;
  width:1526px;
  height:2px;
  display:flex;
}
#u127762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127763_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127763 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:91px;
  width:138px;
  height:30px;
  display:flex;
}
#u127763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127763_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127763.disabled {
}
#u127764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127764_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127764 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:91px;
  width:214px;
  height:30px;
  display:flex;
}
#u127764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127764_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127764.disabled {
}
#u127765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127765_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127765 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:91px;
  width:129px;
  height:30px;
  display:flex;
}
#u127765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127765_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127765.disabled {
}
#u127766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127766_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127766 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u127766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127766_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127766.disabled {
}
#u127767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127767 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:91px;
  width:33px;
  height:30px;
  display:flex;
}
#u127767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127768_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127768 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u127768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127768_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127768.disabled {
}
#u127769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127769_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127769 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u127769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127769_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127769.disabled {
}
#u127770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127770 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:91px;
  width:33px;
  height:30px;
  display:flex;
}
#u127770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127771_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127771 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u127771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127771_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127771.disabled {
}
#u127772_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127772_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127772 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:91px;
  width:129px;
  height:30px;
  display:flex;
}
#u127772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127772_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127772.disabled {
}
#u127773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u127773 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:91px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u127773 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u127773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127774 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:91px;
  width:80px;
  height:30px;
  display:flex;
}
#u127774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127775 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:147px;
  width:1506px;
  height:150px;
}
#u127776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u127776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  display:flex;
}
#u127776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127777 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u127778 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:330px;
  height:30px;
  display:flex;
}
#u127778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127779 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127780 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u127781 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:165px;
  height:30px;
  display:flex;
}
#u127781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127782 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127783 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127784 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127785 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127786 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u127786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u127787 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:0px;
  width:98px;
  height:30px;
  display:flex;
}
#u127787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u127788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:33px;
  height:30px;
  display:flex;
}
#u127788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127789 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u127790 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:30px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u127790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127791 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127792 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u127793 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:30px;
  width:165px;
  height:30px;
  display:flex;
}
#u127793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127794 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127795 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127796 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127797 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127798 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u127798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u127799 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:30px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u127799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u127800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:33px;
  height:30px;
  display:flex;
}
#u127800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127801 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u127802 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:60px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u127802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127803 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127804 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u127805 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:60px;
  width:165px;
  height:30px;
  display:flex;
}
#u127805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127806 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127807 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127808 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127809 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127810 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u127810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u127811 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:60px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u127811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u127812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:33px;
  height:30px;
  display:flex;
}
#u127812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127813 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u127814 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u127814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127815 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127816 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u127817 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:90px;
  width:165px;
  height:30px;
  display:flex;
}
#u127817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127818 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127819 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127820 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127821 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127822 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u127822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u127823 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:90px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u127823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u127824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:33px;
  height:30px;
  display:flex;
}
#u127824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127825 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u127826 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:120px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u127826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127827 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127828 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u127829 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:120px;
  width:165px;
  height:30px;
  display:flex;
}
#u127829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127830 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127831 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127832 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127833 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u127834 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u127834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u127835 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:120px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u127835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
