body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u77829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u77829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77830 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u77830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u77830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u77831 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:39px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u77831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77832_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1529px;
  height:5px;
}
#u77832 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:69px;
  width:1526px;
  height:2px;
  display:flex;
}
#u77832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77833_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77833 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:92px;
  width:214px;
  height:30px;
  display:flex;
}
#u77833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77833_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77833.disabled {
}
#u77834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77834_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77834 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:92px;
  width:129px;
  height:30px;
  display:flex;
}
#u77834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77834_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77834.disabled {
}
#u77835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77835 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:92px;
  width:80px;
  height:30px;
  display:flex;
}
#u77835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77836 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:141px;
  width:1493px;
  height:138px;
}
#u77837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u77837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  display:flex;
}
#u77837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u77838 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:69px;
  height:30px;
  display:flex;
}
#u77838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u77839 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:93px;
  height:30px;
  display:flex;
}
#u77839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u77840 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:0px;
  width:302px;
  height:30px;
  display:flex;
}
#u77840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u77841 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:0px;
  width:108px;
  height:30px;
  display:flex;
}
#u77841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u77842 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:0px;
  width:101px;
  height:30px;
  display:flex;
}
#u77842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u77843 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
}
#u77843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u77844 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u77844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u77845 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:0px;
  width:122px;
  height:30px;
  display:flex;
}
#u77845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u77846 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u77846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u77847 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u77847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u77848 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:0px;
  width:136px;
  height:30px;
  display:flex;
}
#u77848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:31px;
  height:36px;
  display:flex;
}
#u77849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u77850 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:30px;
  width:69px;
  height:36px;
  display:flex;
}
#u77850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u77851 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:93px;
  height:36px;
  display:flex;
}
#u77851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u77852 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:30px;
  width:302px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u77852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u77853 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:30px;
  width:108px;
  height:36px;
  display:flex;
}
#u77853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u77854 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:30px;
  width:101px;
  height:36px;
  display:flex;
}
#u77854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u77855 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:30px;
  width:182px;
  height:36px;
  display:flex;
}
#u77855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u77856 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:30px;
  width:120px;
  height:36px;
  display:flex;
}
#u77856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u77857 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:30px;
  width:122px;
  height:36px;
  display:flex;
}
#u77857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u77858 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:30px;
  width:100px;
  height:36px;
  display:flex;
}
#u77858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u77859 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:30px;
  width:129px;
  height:36px;
  display:flex;
}
#u77859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u77860 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:30px;
  width:136px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u77860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:31px;
  height:36px;
  display:flex;
}
#u77861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u77862 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:66px;
  width:69px;
  height:36px;
  display:flex;
}
#u77862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u77863 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:66px;
  width:93px;
  height:36px;
  display:flex;
}
#u77863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u77864 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:66px;
  width:302px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u77864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u77865 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:66px;
  width:108px;
  height:36px;
  display:flex;
}
#u77865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u77866 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:66px;
  width:101px;
  height:36px;
  display:flex;
}
#u77866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u77867 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:66px;
  width:182px;
  height:36px;
  display:flex;
}
#u77867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u77868 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:66px;
  width:120px;
  height:36px;
  display:flex;
}
#u77868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u77869 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:66px;
  width:122px;
  height:36px;
  display:flex;
}
#u77869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u77870 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:66px;
  width:100px;
  height:36px;
  display:flex;
}
#u77870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u77871 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:66px;
  width:129px;
  height:36px;
  display:flex;
}
#u77871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u77872 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:66px;
  width:136px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u77872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:31px;
  height:36px;
  display:flex;
}
#u77873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u77874 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:102px;
  width:69px;
  height:36px;
  display:flex;
}
#u77874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u77875 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:102px;
  width:93px;
  height:36px;
  display:flex;
}
#u77875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u77876 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:102px;
  width:302px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u77876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u77877 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:102px;
  width:108px;
  height:36px;
  display:flex;
}
#u77877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u77878 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:102px;
  width:101px;
  height:36px;
  display:flex;
}
#u77878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u77879 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:102px;
  width:182px;
  height:36px;
  display:flex;
}
#u77879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u77880 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:102px;
  width:120px;
  height:36px;
  display:flex;
}
#u77880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u77881 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:102px;
  width:122px;
  height:36px;
  display:flex;
}
#u77881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u77882 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:102px;
  width:100px;
  height:36px;
  display:flex;
}
#u77882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u77883 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:102px;
  width:129px;
  height:36px;
  display:flex;
}
#u77883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u77884 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:102px;
  width:136px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u77884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77885_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77885 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:92px;
  width:129px;
  height:30px;
  display:flex;
}
#u77885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77885_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77885.disabled {
}
#u77886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77886_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77886 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:92px;
  width:138px;
  height:30px;
  display:flex;
}
#u77886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77886_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77886.disabled {
}
#u77887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77887_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77887 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:92px;
  width:138px;
  height:30px;
  display:flex;
}
#u77887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77887_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77887.disabled {
}
#u77888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77888_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77888 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:92px;
  width:86px;
  height:30px;
  display:flex;
}
#u77888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77888_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77888.disabled {
}
#u77889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77889 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:92px;
  width:30px;
  height:30px;
  display:flex;
}
#u77889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u77889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77890_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77890 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:92px;
  width:86px;
  height:30px;
  display:flex;
}
#u77890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77890_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77890.disabled {
}
