body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:497px;
}
#u5792 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:497px;
  display:flex;
}
#u5792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5793 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:30px;
  display:flex;
}
#u5793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5794 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:46px;
  width:112px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:176px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5795 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:108px;
  width:1524px;
  height:176px;
  display:flex;
}
#u5795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5796 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:121px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1456px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5797 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:148px;
  width:1456px;
  height:118px;
  display:flex;
}
#u5797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5798 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:316px;
  width:1524px;
  height:220px;
  display:flex;
}
#u5798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5799 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:330px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5799_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1456px;
  height:115px;
}
#u5800 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:357px;
  width:1456px;
  height:115px;
  display:flex;
}
#u5800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5801 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:483px;
  width:70px;
  height:30px;
  display:flex;
}
#u5801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5802 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:483px;
  width:70px;
  height:30px;
  display:flex;
}
#u5802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
