body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u57841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u57841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u57841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57842 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u57842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u57842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57843 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:213px;
  width:1523px;
  height:210px;
}
#u57844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u57844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  display:flex;
}
#u57844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u57845 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:435px;
  height:30px;
  display:flex;
}
#u57845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u57846 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u57846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u57847 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u57847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u57848 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u57848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u57849 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u57849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u57850 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:0px;
  width:190px;
  height:30px;
  display:flex;
}
#u57850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u57851 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u57851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u57852 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:0px;
  width:178px;
  height:30px;
  display:flex;
}
#u57852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u57853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:45px;
  display:flex;
}
#u57853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u57854 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:30px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u57854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57855 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u57855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57856 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u57856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57857 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u57857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57858 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:30px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u57859 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:30px;
  width:190px;
  height:45px;
  display:flex;
}
#u57859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57860 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:30px;
  width:163px;
  height:45px;
  display:flex;
}
#u57860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u57861 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:30px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u57862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:55px;
  height:45px;
  display:flex;
}
#u57862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u57863 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:75px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u57863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57864 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u57864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57865 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u57865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57866 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u57866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57867 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:75px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u57868 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:75px;
  width:190px;
  height:45px;
  display:flex;
}
#u57868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57869 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:75px;
  width:163px;
  height:45px;
  display:flex;
}
#u57869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u57870 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:75px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u57871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:55px;
  height:45px;
  display:flex;
}
#u57871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u57872 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u57872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57873 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u57873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57874 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u57874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57875 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u57875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57876 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:120px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u57877 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:120px;
  width:190px;
  height:45px;
  display:flex;
}
#u57877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57878 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:120px;
  width:163px;
  height:45px;
  display:flex;
}
#u57878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u57879 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:120px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u57880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:55px;
  height:45px;
  display:flex;
}
#u57880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u57881 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:165px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u57881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57882 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u57882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57883 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u57883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u57884 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u57884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57885 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:165px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u57886 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:165px;
  width:190px;
  height:45px;
  display:flex;
}
#u57886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u57887 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:165px;
  width:163px;
  height:45px;
  display:flex;
}
#u57887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u57888 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:165px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u57888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:82px;
}
#u57889 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1523px;
  height:82px;
  display:flex;
}
#u57889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57890 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:76px;
  width:704px;
  height:27px;
  display:flex;
}
#u57890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u57891 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u57891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57892 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u57892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57893 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u57893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57894 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u57894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57895 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u57895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57896 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u57896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57897 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u57897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57898 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:167px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u57898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57898_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57898.selected {
}
#u57898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57899 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u57899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57899_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57899.selected {
}
#u57899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57900 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u57900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57900_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57900.selected {
}
#u57900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57901 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u57901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57901_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u57901.selected {
}
#u57901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57903 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:254px;
  width:142px;
  height:25px;
  display:flex;
}
#u57903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57904 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:254px;
  width:98px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57906 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:389px;
  width:142px;
  height:25px;
  display:flex;
}
#u57906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57907 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:389px;
  width:142px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57909 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:344px;
  width:142px;
  height:25px;
  display:flex;
}
#u57909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57910 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:344px;
  width:45px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57912 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:298px;
  width:142px;
  height:25px;
  display:flex;
}
#u57912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57913 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u57913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u57915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u57915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57918 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:157px;
  width:476px;
  height:267px;
  display:flex;
}
#u57918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57919 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:271px;
  width:347px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u57919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:2px;
}
#u57920 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:353px;
  width:218px;
  height:1px;
  display:flex;
}
#u57920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:58px;
}
#u57921 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:367px;
  width:1px;
  height:57px;
  display:flex;
}
#u57921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u57922 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:353px;
  width:231px;
  height:1px;
  display:flex;
}
#u57922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57923 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:378px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u57923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57924 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:378px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u57924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57925 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:194px;
  width:50px;
  height:50px;
  display:flex;
}
#u57925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
