body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u119630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u119630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u119630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119631 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u119631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u119631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119632_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u119632 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u119632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u119633 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:146px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u119633 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119634 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:54px;
  width:66px;
  height:30px;
  display:flex;
}
#u119634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119635 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:166px;
  width:1521px;
  height:96px;
}
#u119636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u119636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  display:flex;
}
#u119636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u119637 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:201px;
  height:36px;
  display:flex;
}
#u119637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u119638 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:201px;
  height:36px;
  display:flex;
}
#u119638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:36px;
}
#u119639 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:596px;
  height:36px;
  display:flex;
}
#u119639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u119640 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:0px;
  width:254px;
  height:36px;
  display:flex;
}
#u119640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u119641 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:0px;
  width:203px;
  height:36px;
  display:flex;
}
#u119641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u119642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:66px;
  height:30px;
  display:flex;
}
#u119642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119643 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:36px;
  width:201px;
  height:30px;
  display:flex;
}
#u119643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119644 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:36px;
  width:201px;
  height:30px;
  display:flex;
}
#u119644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u119645 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:36px;
  width:596px;
  height:30px;
  display:flex;
}
#u119645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u119646 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:36px;
  width:254px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u119646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u119647 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:36px;
  width:203px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u119647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u119648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:66px;
  height:30px;
  display:flex;
}
#u119648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119649 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:66px;
  width:201px;
  height:30px;
  display:flex;
}
#u119649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u119650 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:66px;
  width:201px;
  height:30px;
  display:flex;
}
#u119650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u119651 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:66px;
  width:596px;
  height:30px;
  display:flex;
}
#u119651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u119652 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:66px;
  width:254px;
  height:30px;
  display:flex;
}
#u119652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u119653 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:66px;
  width:203px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u119653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119654_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u119654 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:166px;
  width:1521px;
  height:2px;
  display:flex;
}
#u119654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119655_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119655 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:118px;
  width:233px;
  height:30px;
  display:flex;
}
#u119655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119655_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119655.disabled {
}
#u119656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119656_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119656 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:118px;
  width:143px;
  height:30px;
  display:flex;
}
#u119656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119656_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119656.disabled {
}
#u119657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119657 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:118px;
  width:24px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119657 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119658_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119658 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:118px;
  width:152px;
  height:30px;
  display:flex;
}
#u119658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119658_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119658.disabled {
}
#u119659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119659 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:118px;
  width:80px;
  height:30px;
  display:flex;
}
#u119659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119660_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u119660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119660 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:118px;
  width:141px;
  height:30px;
  display:flex;
}
#u119660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119660_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119660.disabled {
}
#u119661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119661 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:118px;
  width:24px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:center;
}
#u119661 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119662 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:54px;
  width:66px;
  height:30px;
  display:flex;
}
#u119662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
