body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u78063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u78063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u78063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78064 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u78064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u78064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78065_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1528px;
  height:5px;
}
#u78065 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:78px;
  width:1525px;
  height:2px;
  display:flex;
}
#u78065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0066CC;
}
#u78066 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:52px;
  width:108px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#0066CC;
}
#u78066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78066_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u78067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78067_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78067 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:90px;
  width:280px;
  height:30px;
  display:flex;
}
#u78067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78067_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78067.disabled {
}
#u78068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78068_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78068 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:90px;
  width:171px;
  height:30px;
  display:flex;
}
#u78068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78068_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78068.disabled {
}
#u78069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78069_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78069 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:90px;
  width:171px;
  height:30px;
  display:flex;
}
#u78069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78069_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78069.disabled {
}
#u78070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78070_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78070 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:90px;
  width:114px;
  height:30px;
  display:flex;
}
#u78070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78070_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78070.disabled {
}
#u78071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78071_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78071 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:90px;
  width:114px;
  height:30px;
  display:flex;
}
#u78071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78071_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78071.disabled {
}
#u78072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u78072 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:90px;
  width:32px;
  height:30px;
  display:flex;
  text-align:center;
}
#u78072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78073_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78073 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:90px;
  width:114px;
  height:30px;
  display:flex;
}
#u78073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78073_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78073.disabled {
}
#u78074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78074 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:90px;
  width:80px;
  height:30px;
  display:flex;
}
#u78074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78075 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:140px;
  width:1525px;
  height:96px;
}
#u78076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u78076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
  display:flex;
}
#u78076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:36px;
}
#u78077 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:430px;
  height:36px;
  display:flex;
}
#u78077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u78078 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:0px;
  width:143px;
  height:36px;
  display:flex;
}
#u78078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u78079 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
}
#u78079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:36px;
}
#u78080 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:0px;
  width:172px;
  height:36px;
  display:flex;
}
#u78080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u78081 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:0px;
  width:215px;
  height:36px;
  display:flex;
}
#u78081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:36px;
}
#u78082 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:0px;
  width:191px;
  height:36px;
  display:flex;
}
#u78082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u78083 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:0px;
  width:152px;
  height:36px;
  display:flex;
}
#u78083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u78084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:72px;
  height:30px;
  display:flex;
}
#u78084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u78085 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:36px;
  width:430px;
  height:30px;
  display:flex;
}
#u78085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u78086 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:36px;
  width:143px;
  height:30px;
  display:flex;
}
#u78086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u78087 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:36px;
  width:150px;
  height:30px;
  display:flex;
}
#u78087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u78088 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:36px;
  width:172px;
  height:30px;
  display:flex;
}
#u78088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u78089 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:36px;
  width:215px;
  height:30px;
  display:flex;
}
#u78089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u78090 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:36px;
  width:191px;
  height:30px;
  display:flex;
}
#u78090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u78091 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:36px;
  width:152px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u78091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u78092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:72px;
  height:30px;
  display:flex;
}
#u78092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u78093 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:66px;
  width:430px;
  height:30px;
  display:flex;
}
#u78093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u78094 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:66px;
  width:143px;
  height:30px;
  display:flex;
}
#u78094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u78095 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:66px;
  width:150px;
  height:30px;
  display:flex;
}
#u78095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u78096 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:66px;
  width:172px;
  height:30px;
  display:flex;
}
#u78096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u78097 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:66px;
  width:215px;
  height:30px;
  display:flex;
}
#u78097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u78098 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:66px;
  width:191px;
  height:30px;
  display:flex;
}
#u78098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u78099 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:66px;
  width:152px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u78099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78100_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1528px;
  height:5px;
}
#u78100 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:140px;
  width:1525px;
  height:2px;
  display:flex;
  color:#0099FF;
}
#u78100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78101 {
  border-width:0px;
  position:absolute;
  left:1465px;
  top:45px;
  width:87px;
  height:30px;
  display:flex;
}
#u78101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
