body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u47183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u47183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47184 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u47184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47186 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:87px;
  width:1521px;
  height:282px;
}
#u47187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u47187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
  display:flex;
}
#u47187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:30px;
}
#u47188 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:0px;
  width:414px;
  height:30px;
  display:flex;
}
#u47188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u47189 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:269px;
  height:30px;
  display:flex;
}
#u47189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u47190 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:0px;
  width:155px;
  height:30px;
  display:flex;
}
#u47190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u47191 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u47191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u47192 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u47192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u47193 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u47193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u47194 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u47194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u47195 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u47195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:36px;
  height:36px;
  display:flex;
}
#u47196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47197 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:30px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47198 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47199 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:30px;
  width:155px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u47199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47200 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:30px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47201 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:30px;
  width:119px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u47201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47202 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:30px;
  width:119px;
  height:36px;
  display:flex;
}
#u47202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47203 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:30px;
  width:119px;
  height:36px;
  display:flex;
}
#u47203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47204 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:36px;
  height:36px;
  display:flex;
}
#u47205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47206 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:66px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47207 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:66px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47208 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:66px;
  width:155px;
  height:36px;
  display:flex;
}
#u47208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47209 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:66px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47210 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:66px;
  width:119px;
  height:36px;
  display:flex;
}
#u47210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47211 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:66px;
  width:119px;
  height:36px;
  display:flex;
}
#u47211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47212 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:66px;
  width:119px;
  height:36px;
  display:flex;
}
#u47212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47213 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:36px;
  height:36px;
  display:flex;
}
#u47214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47215 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:102px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47216 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:102px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47217 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:102px;
  width:155px;
  height:36px;
  display:flex;
}
#u47217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47218 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:102px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47219 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:102px;
  width:119px;
  height:36px;
  display:flex;
}
#u47219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47220 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:102px;
  width:119px;
  height:36px;
  display:flex;
}
#u47220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47221 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:102px;
  width:119px;
  height:36px;
  display:flex;
}
#u47221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47222 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:36px;
  height:36px;
  display:flex;
}
#u47223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47224 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:138px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47225 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:138px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47226 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:138px;
  width:155px;
  height:36px;
  display:flex;
}
#u47226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47227 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:138px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47228 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:138px;
  width:119px;
  height:36px;
  display:flex;
}
#u47228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47229 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:138px;
  width:119px;
  height:36px;
  display:flex;
}
#u47229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47230 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:138px;
  width:119px;
  height:36px;
  display:flex;
}
#u47230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47231 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:138px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:36px;
  height:36px;
  display:flex;
}
#u47232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47233 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:174px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47234 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:174px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47235 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:174px;
  width:155px;
  height:36px;
  display:flex;
}
#u47235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47236 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:174px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47237 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:174px;
  width:119px;
  height:36px;
  display:flex;
}
#u47237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47238 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:174px;
  width:119px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u47238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47239 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:174px;
  width:119px;
  height:36px;
  display:flex;
}
#u47239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47240 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:174px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:36px;
  height:36px;
  display:flex;
}
#u47241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47242 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:210px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47243 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:210px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47244 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:210px;
  width:155px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u47244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47245 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:210px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47246 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:210px;
  width:119px;
  height:36px;
  display:flex;
}
#u47246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47247 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:210px;
  width:119px;
  height:36px;
  display:flex;
}
#u47247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47248 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:210px;
  width:119px;
  height:36px;
  display:flex;
}
#u47248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47249 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:210px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:36px;
  height:36px;
  display:flex;
}
#u47250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:36px;
}
#u47251 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:246px;
  width:414px;
  height:36px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u47251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u47252 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:246px;
  width:269px;
  height:36px;
  display:flex;
  text-align:left;
}
#u47252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u47253 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:246px;
  width:155px;
  height:36px;
  display:flex;
}
#u47253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47254 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:246px;
  width:119px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47255 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:246px;
  width:119px;
  height:36px;
  display:flex;
}
#u47255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47256 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:246px;
  width:119px;
  height:36px;
  display:flex;
}
#u47256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u47257 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:246px;
  width:119px;
  height:36px;
  display:flex;
}
#u47257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u47258 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:246px;
  width:171px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u47258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47259 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u47259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47260 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u47260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47261 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u47261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47262 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u47262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47263 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:39px;
  width:70px;
  height:30px;
  display:flex;
}
#u47263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47264 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:39px;
  width:70px;
  height:30px;
  display:flex;
}
#u47264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47265 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:39px;
  width:70px;
  height:30px;
  display:flex;
}
#u47265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47266 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:39px;
  width:70px;
  height:30px;
  display:flex;
}
#u47266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47267 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:39px;
  width:70px;
  height:30px;
  display:flex;
}
#u47267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47269 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:148px;
  width:1027px;
  height:513px;
  display:flex;
}
#u47269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47270 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:150px;
  width:1026px;
  height:27px;
  display:flex;
}
#u47270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u47270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u47271 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:158px;
  width:112px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u47271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u47272 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:158px;
  width:10px;
  height:10px;
  display:flex;
}
#u47272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47273 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:619px;
  width:47px;
  height:20px;
  display:flex;
}
#u47273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47274 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:278px;
  width:338px;
  height:16px;
  display:flex;
}
#u47274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47275 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:308px;
  width:231px;
  height:16px;
  display:flex;
}
#u47275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47276 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:308px;
  width:112px;
  height:16px;
  display:flex;
}
#u47276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47277 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:338px;
  width:136px;
  height:16px;
  display:flex;
}
#u47277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47278 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:338px;
  width:136px;
  height:16px;
  display:flex;
}
#u47278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0033CC;
}
#u47279 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:397px;
  width:112px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0033CC;
}
#u47279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0033CC;
}
#u47280 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:229px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0033CC;
}
#u47280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u47281 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:255px;
  width:726px;
  height:1px;
  display:flex;
}
#u47281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:2px;
}
#u47282 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:423px;
  width:726px;
  height:1px;
  display:flex;
}
#u47282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u47284 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:458px;
  width:16px;
  height:16px;
  display:flex;
}
#u47284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u47285 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:461px;
  width:10px;
  height:10px;
  display:flex;
}
#u47285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:80px;
}
#u47286 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:471px;
  width:1px;
  height:79px;
  display:flex;
}
#u47286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47287 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:458px;
  width:136px;
  height:16px;
  display:flex;
}
#u47287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u47288 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:466px;
  width:74px;
  height:1px;
  display:flex;
  color:#FF0000;
}
#u47288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u47289 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:458px;
  width:71px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u47289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u47290 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:458px;
  width:199px;
  height:16px;
  display:flex;
  color:#868686;
}
#u47290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u47292 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:510px;
  width:16px;
  height:16px;
  display:flex;
}
#u47292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u47293 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:513px;
  width:10px;
  height:10px;
  display:flex;
}
#u47293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47294 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:510px;
  width:136px;
  height:16px;
  display:flex;
}
#u47294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u47295 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:518px;
  width:74px;
  height:1px;
  display:flex;
  color:#FF0000;
}
#u47295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u47296 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:510px;
  width:66px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FF0000;
}
#u47296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47296_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u47297 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:510px;
  width:199px;
  height:16px;
  display:flex;
  color:#868686;
}
#u47297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
