body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u72560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72561 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u72561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72562_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u72562 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u72562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u72563 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:181px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u72563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72564 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:250px;
  width:1521px;
  height:234px;
}
#u72565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u72565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  display:flex;
}
#u72565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72566 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72567 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u72568 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:334px;
  height:30px;
  display:flex;
}
#u72568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72569 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72570 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72571 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72572 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72573 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u72574 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:0px;
  width:111px;
  height:30px;
  display:flex;
}
#u72574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u72575 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:0px;
  width:97px;
  height:30px;
  display:flex;
}
#u72575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u72576 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:0px;
  width:154px;
  height:30px;
  display:flex;
}
#u72576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:68px;
}
#u72577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:48px;
  height:68px;
  display:flex;
}
#u72577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72578 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
  text-align:left;
}
#u72578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72579 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
  text-align:left;
}
#u72579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:68px;
}
#u72580 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:30px;
  width:334px;
  height:68px;
  display:flex;
  color:#0033CC;
}
#u72580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72581 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
}
#u72581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72582 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
}
#u72582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72583 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
}
#u72583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72584 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
}
#u72584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72585 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
}
#u72585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72586 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:30px;
  width:111px;
  height:68px;
  display:flex;
}
#u72586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u72587 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:30px;
  width:97px;
  height:68px;
  display:flex;
  color:#0066CC;
}
#u72587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u72588 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:30px;
  width:154px;
  height:68px;
  display:flex;
  color:#0066CC;
}
#u72588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:68px;
}
#u72589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:48px;
  height:68px;
  display:flex;
}
#u72589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72590 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
  text-align:left;
}
#u72590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72591 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
  text-align:left;
}
#u72591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:68px;
}
#u72592 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:98px;
  width:334px;
  height:68px;
  display:flex;
  color:#0033CC;
}
#u72592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72593 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
}
#u72593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72594 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
}
#u72594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72595 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
}
#u72595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72596 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
}
#u72596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72597 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
}
#u72597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72598 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:98px;
  width:111px;
  height:68px;
  display:flex;
}
#u72598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u72599 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:98px;
  width:97px;
  height:68px;
  display:flex;
  color:#0066CC;
}
#u72599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u72600 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:98px;
  width:154px;
  height:68px;
  display:flex;
  color:#0066CC;
}
#u72600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:68px;
}
#u72601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:48px;
  height:68px;
  display:flex;
}
#u72601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72602 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
  text-align:left;
}
#u72602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72603 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
  text-align:left;
}
#u72603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:68px;
}
#u72604 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:166px;
  width:334px;
  height:68px;
  display:flex;
  color:#0033CC;
}
#u72604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72605 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
}
#u72605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72606 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
}
#u72606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72607 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
}
#u72607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72608 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
}
#u72608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72609 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
}
#u72609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u72610 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:166px;
  width:111px;
  height:68px;
  display:flex;
}
#u72610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u72611 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:166px;
  width:97px;
  height:68px;
  display:flex;
  color:#0066CC;
}
#u72611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u72612 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:166px;
  width:154px;
  height:68px;
  display:flex;
  color:#0066CC;
}
#u72612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72613 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:208px;
  width:100px;
  height:30px;
  display:flex;
}
#u72613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72613_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72613.selected {
}
#u72613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72614 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:209px;
  width:100px;
  height:30px;
  display:flex;
}
#u72614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72614_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72614.selected {
}
#u72614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72615 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:209px;
  width:100px;
  height:31px;
  display:flex;
}
#u72615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72615_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72615.selected {
}
#u72615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72616 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:210px;
  width:100px;
  height:30px;
  display:flex;
}
#u72616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72616_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72616.selected {
}
#u72616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72617 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u72617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72618_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72618_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72618 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:119px;
  width:144px;
  height:25px;
  display:flex;
}
#u72618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72618_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72618.disabled {
}
#u72619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72619_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72619 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:119px;
  width:148px;
  height:25px;
  display:flex;
}
#u72619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72619_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72619.disabled {
}
#u72620_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72620_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72620 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:119px;
  width:265px;
  height:25px;
  display:flex;
}
#u72620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72620_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72620.disabled {
}
#u72621_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72621_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72621 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:119px;
  width:119px;
  height:25px;
  display:flex;
}
#u72621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72621_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72621.disabled {
}
#u72622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72622_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72622 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:119px;
  width:190px;
  height:25px;
  display:flex;
}
#u72622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72622_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72622.disabled {
}
#u72623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u72623 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:117px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u72623 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72624_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72624 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:119px;
  width:176px;
  height:25px;
  display:flex;
}
#u72624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72624_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72624.disabled {
}
#u72625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u72625 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:117px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u72625 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72626_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72626 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:119px;
  width:164px;
  height:25px;
  display:flex;
}
#u72626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72626_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72626.disabled {
}
#u72627_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72627_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72627 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:156px;
  width:88px;
  height:25px;
  display:flex;
}
#u72627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72627_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72627.disabled {
}
#u72628_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72628_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72628 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:156px;
  width:88px;
  height:25px;
  display:flex;
}
#u72628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72628_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72628.disabled {
}
#u72629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u72629 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:156px;
  width:42px;
  height:25px;
  display:flex;
  text-align:center;
}
#u72629 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72630_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72630 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:156px;
  width:88px;
  height:25px;
  display:flex;
}
#u72630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72630_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72630.disabled {
}
#u72631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72631_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72631 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:156px;
  width:88px;
  height:25px;
  display:flex;
}
#u72631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72631_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72631.disabled {
}
#u72632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u72632 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:156px;
  width:42px;
  height:25px;
  display:flex;
  text-align:center;
}
#u72632 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72633 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:114px;
  width:80px;
  height:30px;
  display:flex;
}
#u72633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72634_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u72634 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:191px;
  width:1521px;
  height:2px;
  display:flex;
}
#u72634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u72635 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:303px;
  width:26px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0066CC;
}
#u72635 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72635_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u72636 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:303px;
  width:91px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0066CC;
}
#u72636 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72636_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u72637 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:372px;
  width:26px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0066CC;
}
#u72637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u72638 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:372px;
  width:91px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0066CC;
}
#u72638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72638_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u72639 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:441px;
  width:26px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0066CC;
}
#u72639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72639_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u72640 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:441px;
  width:91px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0066CC;
}
#u72640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72640_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
