body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u121015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u121015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121016 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u121016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121017_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u121017 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u121017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u121018 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:181px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u121018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121019 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:96px;
  width:1521px;
  height:138px;
}
#u121020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u121020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  display:flex;
}
#u121020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:30px;
}
#u121021 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:921px;
  height:30px;
  display:flex;
}
#u121021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u121022 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u121022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u121023 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:0px;
  width:180px;
  height:30px;
  display:flex;
}
#u121023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u121024 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:0px;
  width:179px;
  height:30px;
  display:flex;
}
#u121024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u121025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:41px;
  height:36px;
  display:flex;
}
#u121025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:36px;
}
#u121026 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:30px;
  width:921px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u121027 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:30px;
  width:200px;
  height:36px;
  display:flex;
}
#u121027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u121028 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:30px;
  width:180px;
  height:36px;
  display:flex;
}
#u121028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u121029 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:30px;
  width:179px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u121030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:41px;
  height:36px;
  display:flex;
}
#u121030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:36px;
}
#u121031 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:66px;
  width:921px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u121032 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:66px;
  width:200px;
  height:36px;
  display:flex;
}
#u121032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u121033 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:66px;
  width:180px;
  height:36px;
  display:flex;
}
#u121033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u121034 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:66px;
  width:179px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u121035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:41px;
  height:36px;
  display:flex;
}
#u121035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:36px;
}
#u121036 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:102px;
  width:921px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u121037 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:102px;
  width:200px;
  height:36px;
  display:flex;
}
#u121037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u121038 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:102px;
  width:180px;
  height:36px;
  display:flex;
  color:#949494;
}
#u121038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u121039 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:102px;
  width:179px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121040 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u121040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121041 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u121041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u121043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121046 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:157px;
  width:476px;
  height:267px;
  display:flex;
}
#u121046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121047 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:282px;
  width:347px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u121047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u121048 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:202px;
  width:50px;
  height:50px;
  display:flex;
}
#u121048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
