body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u72338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72339 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u72339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72340 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:54px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72340_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72341_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1525px;
  height:5px;
}
#u72341 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:1522px;
  height:2px;
  display:flex;
}
#u72341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72342 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:170px;
  width:1502px;
  height:132px;
}
#u72343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u72343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
  display:flex;
}
#u72343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72344 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72345 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72346 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u72347 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:178px;
  height:36px;
  display:flex;
}
#u72347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72348 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:0px;
  width:267px;
  height:36px;
  display:flex;
}
#u72348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72349 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:267px;
  height:36px;
  display:flex;
}
#u72349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72350 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72351 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72352 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u72353 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:0px;
  width:235px;
  height:36px;
  display:flex;
}
#u72353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u72354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:27px;
  height:36px;
  display:flex;
}
#u72354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72355 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72356 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72357 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u72358 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:36px;
  width:178px;
  height:36px;
  display:flex;
}
#u72358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72359 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:36px;
  width:267px;
  height:36px;
  display:flex;
}
#u72359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72360 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:36px;
  width:267px;
  height:36px;
  display:flex;
}
#u72360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72361 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72362 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72363 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u72364 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:36px;
  width:235px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u72364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u72365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:27px;
  height:30px;
  display:flex;
}
#u72365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72366 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72367 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72368 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u72369 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:72px;
  width:178px;
  height:30px;
  display:flex;
}
#u72369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72370 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:72px;
  width:267px;
  height:30px;
  display:flex;
}
#u72370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72371 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:72px;
  width:267px;
  height:30px;
  display:flex;
}
#u72371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72372 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72373 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72374 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u72375 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:72px;
  width:235px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u72375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u72376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:27px;
  height:30px;
  display:flex;
}
#u72376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72377 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72378 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72379 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u72380 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:102px;
  width:178px;
  height:30px;
  display:flex;
}
#u72380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72381 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:102px;
  width:267px;
  height:30px;
  display:flex;
}
#u72381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72382 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:102px;
  width:267px;
  height:30px;
  display:flex;
}
#u72382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72383 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72384 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72385 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u72386 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:102px;
  width:235px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u72386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72387_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72387_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72387 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
}
#u72387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72387_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72387.disabled {
}
#u72388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72388_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72388 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72388_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72388.disabled {
}
#u72389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72389_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72389 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:119px;
  width:156px;
  height:30px;
  display:flex;
}
#u72389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72389_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72389.disabled {
}
#u72390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72390_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72390 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:119px;
  width:213px;
  height:30px;
  display:flex;
}
#u72390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72390_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72390.disabled {
}
#u72391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72391 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72392 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:119px;
  width:30px;
  height:30px;
  display:flex;
}
#u72392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72393_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72393 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:119px;
  width:109px;
  height:30px;
  display:flex;
}
#u72393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72393_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72393.disabled {
}
#u72394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72394_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72394 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
}
#u72394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72394_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72394.disabled {
}
#u72395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72395_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72395 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72395_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72395.disabled {
}
#u72396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72396 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:119px;
  width:30px;
  height:30px;
  display:flex;
}
#u72396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72397_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72397 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:119px;
  width:132px;
  height:30px;
  display:flex;
}
#u72397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72397_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72397.disabled {
}
#u72398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72398_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72398 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:119px;
  width:222px;
  height:30px;
  display:flex;
}
#u72398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72398_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72398.disabled {
}
#u72399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72399 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72400 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72401 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72402 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72402_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72403 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72404 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72405 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72406 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72407 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72408 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72409 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:248px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
