body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1838px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u82904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:966px;
}
#u82905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:1906px;
  height:966px;
  display:flex;
}
#u82905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82906 {
  border-width:0px;
  position:absolute;
  left:1871px;
  top:94px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82907 {
  position:fixed;
  left:0px;
  top:0px;
}
#u82907_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1906px;
  height:94px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82907_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1762px;
  height:33px;
}
#u82908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1762px;
  height:33px;
  display:flex;
}
#u82908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u82909 {
  border-width:0px;
  position:absolute;
  left:1762px;
  top:0px;
  width:144px;
  height:33px;
  display:flex;
}
#u82909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u82911 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:2px;
  width:38px;
  height:31px;
  display:flex;
}
#u82911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 131, 119, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u82912 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:2px;
  width:85px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u82912 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u82913 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:2px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u82913 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:61px;
  background:inherit;
  background-color:rgba(236, 216, 209, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:1906px;
  height:61px;
  display:flex;
}
#u82914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1692px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
  line-height:20px;
}
#u82915 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:43px;
  width:1692px;
  height:40px;
  display:flex;
  color:#800080;
  line-height:20px;
}
#u82915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:1361px;
}
#u82916 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:132px;
  width:995px;
  height:1361px;
  display:flex;
}
#u82916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:1332px;
}
#u82917 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:1416px;
  width:995px;
  height:1332px;
  display:flex;
}
#u82917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u82919 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:652px;
  width:28px;
  height:26px;
  display:flex;
}
#u82919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:173px;
}
#u82920 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:490px;
  width:661px;
  height:173px;
  display:flex;
}
#u82920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82921 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:504px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u82922 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:504px;
  width:133px;
  height:16px;
  display:flex;
  color:#868686;
}
#u82922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82923 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:537px;
  width:304px;
  height:16px;
  display:flex;
}
#u82923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u82924 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:503px;
  width:17px;
  height:17px;
  display:flex;
}
#u82924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82925 {
  position:absolute;
  left:1524px;
  top:-159px;
  visibility:hidden;
}
#u82925_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:696px;
  height:188px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82925_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u82927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:28px;
  height:26px;
  display:flex;
}
#u82927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:173px;
}
#u82928 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:661px;
  height:173px;
  display:flex;
}
#u82928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82929 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:14px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u82930 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:14px;
  width:133px;
  height:16px;
  display:flex;
  color:#868686;
}
#u82930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82931 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:40px;
  width:370px;
  height:25px;
  display:flex;
}
#u82931 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u82932_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u82932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82932 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:40px;
  width:370px;
  height:25px;
  display:flex;
}
#u82932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82932_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82932.disabled {
}
#u82933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u82933 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:13px;
  width:17px;
  height:17px;
  display:flex;
}
#u82933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.27843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u82934 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:158px;
  width:419px;
  height:30px;
  display:flex;
  text-align:left;
}
#u82934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82935 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:206px;
  width:224px;
  height:16px;
  display:flex;
}
#u82935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.27843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u82936 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:248px;
  width:419px;
  height:30px;
  display:flex;
  text-align:left;
}
#u82936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:156px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u82937_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:156px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u82937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82937 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:495px;
  width:379px;
  height:156px;
  display:flex;
}
#u82937 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82937_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:156px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82937.disabled {
}
#u82938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82938 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:892px;
  width:122px;
  height:37px;
  display:flex;
}
#u82938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82939 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:892px;
  width:122px;
  height:37px;
  display:flex;
}
#u82939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82940 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:464px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82941 label {
  left:0px;
  width:100%;
}
#u82941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u82941 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:340px;
  width:100px;
  height:15px;
  display:flex;
}
#u82941 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u82941_img.selected {
}
#u82941.selected {
}
#u82941_img.disabled {
}
#u82941.disabled {
}
#u82941_img.selectedDisabled {
}
#u82941.selectedDisabled {
}
#u82941_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u82941_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u82942 label {
  left:0px;
  width:100%;
}
#u82942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u82942 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:380px;
  width:100px;
  height:15px;
  display:flex;
}
#u82942 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u82942_img.selected {
}
#u82942.selected {
}
#u82942_img.disabled {
}
#u82942.disabled {
}
#u82942_img.selectedDisabled {
}
#u82942.selectedDisabled {
}
#u82942_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u82942_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u82943 label {
  left:0px;
  width:100%;
}
#u82943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u82943 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:421px;
  width:100px;
  height:15px;
  display:flex;
}
#u82943 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u82943_img.selected {
}
#u82943.selected {
}
#u82943_img.disabled {
}
#u82943.disabled {
}
#u82943_img.selectedDisabled {
}
#u82943.selectedDisabled {
}
#u82943_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u82943_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u82944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82944 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:306px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82944 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82944_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u82945 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:719px;
  width:70px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u82945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82946 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:745px;
  width:252px;
  height:30px;
  display:flex;
}
#u82946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u82947 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:669px;
  width:294px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u82947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82947_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u82948 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:745px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u82948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82949 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:797px;
  width:252px;
  height:30px;
  display:flex;
}
#u82949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82950 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:847px;
  width:252px;
  height:15px;
  display:flex;
}
#u82950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u82951 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:745px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u82951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u82952 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:797px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u82952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u82953 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:797px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u82953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u82954 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:847px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u82954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u82955 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:847px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u82955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82956 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:121px;
  width:98px;
  height:16px;
  display:flex;
}
#u82956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u82957 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:121px;
  width:107px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u82957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u82958 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:121px;
  width:107px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u82958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
