body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u124819 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:606px;
  width:300px;
  height:170px;
}
#u124819_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124819_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u124819_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:958px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:958px;
  display:flex;
}
#u124821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u124821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:317px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124824 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:186px;
  width:569px;
  height:317px;
  display:flex;
}
#u124824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u124825 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:312px;
  width:520px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u124825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:59px;
}
#u124826 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:224px;
  width:60px;
  height:59px;
  display:flex;
}
#u124826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124827 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:394px;
  width:107px;
  height:16px;
  display:flex;
}
#u124827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u124828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124828 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:446px;
  width:75px;
  height:22px;
  display:flex;
}
#u124828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:958px;
}
#u124829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:958px;
  display:flex;
}
#u124829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124831 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:420px;
  width:133px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124834 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:470px;
  width:16px;
  height:16px;
  display:flex;
}
#u124834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124834_img.selected {
}
#u124834.selected {
}
#u124834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u124835 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:473px;
  width:80px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u124835 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u124836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124837 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:420px;
  width:133px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124840 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:470px;
  width:16px;
  height:16px;
  display:flex;
}
#u124840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124840_img.selected {
}
#u124840.selected {
}
#u124840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u124841 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:473px;
  width:80px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u124841 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u124842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124843 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:420px;
  width:133px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124846 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:470px;
  width:16px;
  height:16px;
  display:flex;
}
#u124846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124846_img.selected {
}
#u124846.selected {
}
#u124846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u124847 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:473px;
  width:80px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u124847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
