body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u68498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u68498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u68498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68499 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u68499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u68499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:73px;
}
#u68500 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:39px;
  width:1529px;
  height:73px;
  display:flex;
}
#u68500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68501 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:76px;
  width:658px;
  height:75px;
  display:flex;
}
#u68501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u68502 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u68502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68503 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:184px;
  width:1528px;
  height:186px;
}
#u68504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u68504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  display:flex;
}
#u68504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:36px;
}
#u68505 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:698px;
  height:36px;
  display:flex;
}
#u68505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:36px;
}
#u68506 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:0px;
  width:436px;
  height:36px;
  display:flex;
}
#u68506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
}
#u68507 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:0px;
  width:291px;
  height:36px;
  display:flex;
}
#u68507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u68508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:103px;
  height:30px;
  display:flex;
}
#u68508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u68509 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:36px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u68510 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:36px;
  width:436px;
  height:30px;
  display:flex;
  color:#363636;
}
#u68510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u68511 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:36px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u68512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:103px;
  height:30px;
  display:flex;
}
#u68512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u68513 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:66px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u68514 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:66px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u68514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u68515 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:66px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u68516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:103px;
  height:30px;
  display:flex;
}
#u68516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u68517 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:96px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u68518 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:96px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u68518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u68519 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:96px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u68520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:103px;
  height:30px;
  display:flex;
}
#u68520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u68521 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:126px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u68522 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:126px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u68522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u68523 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:126px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u68524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:103px;
  height:30px;
  display:flex;
}
#u68524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u68525 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:156px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u68526 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:156px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u68526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u68527 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:156px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u68527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68528 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:122px;
  width:70px;
  height:30px;
  display:flex;
}
#u68528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:2px;
}
#u68529 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:162px;
  width:1528px;
  height:1px;
  display:flex;
}
#u68529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
