body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u72412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72413 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u72413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72414 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:54px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72415_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1525px;
  height:5px;
}
#u72415 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:1522px;
  height:2px;
  display:flex;
}
#u72415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72416 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:170px;
  width:1502px;
  height:132px;
}
#u72417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u72417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
  display:flex;
}
#u72417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72418 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72419 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72420 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u72421 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:178px;
  height:36px;
  display:flex;
}
#u72421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72422 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:0px;
  width:267px;
  height:36px;
  display:flex;
}
#u72422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72423 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:267px;
  height:36px;
  display:flex;
}
#u72423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72424 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72425 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72426 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:0px;
  width:88px;
  height:36px;
  display:flex;
}
#u72426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u72427 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:0px;
  width:235px;
  height:36px;
  display:flex;
}
#u72427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u72428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:27px;
  height:36px;
  display:flex;
}
#u72428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72429 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72430 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72431 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u72432 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:36px;
  width:178px;
  height:36px;
  display:flex;
}
#u72432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72433 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:36px;
  width:267px;
  height:36px;
  display:flex;
}
#u72433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u72434 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:36px;
  width:267px;
  height:36px;
  display:flex;
}
#u72434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72435 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72436 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u72437 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:36px;
  width:88px;
  height:36px;
  display:flex;
}
#u72437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u72438 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:36px;
  width:235px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u72438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u72439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:27px;
  height:30px;
  display:flex;
}
#u72439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72440 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72441 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72442 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u72443 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:72px;
  width:178px;
  height:30px;
  display:flex;
}
#u72443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72444 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:72px;
  width:267px;
  height:30px;
  display:flex;
}
#u72444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72445 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:72px;
  width:267px;
  height:30px;
  display:flex;
}
#u72445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72446 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72447 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72448 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:72px;
  width:88px;
  height:30px;
  display:flex;
}
#u72448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u72449 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:72px;
  width:235px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u72449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u72450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:27px;
  height:30px;
  display:flex;
}
#u72450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72451 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72452 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72453 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u72454 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:102px;
  width:178px;
  height:30px;
  display:flex;
}
#u72454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72455 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:102px;
  width:267px;
  height:30px;
  display:flex;
}
#u72455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u72456 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:102px;
  width:267px;
  height:30px;
  display:flex;
}
#u72456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72457 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72458 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72459 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:102px;
  width:88px;
  height:30px;
  display:flex;
}
#u72459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u72460 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:102px;
  width:235px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u72460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72461_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72461 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
}
#u72461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72461_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72461.disabled {
}
#u72462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72462_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72462 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72462_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72462.disabled {
}
#u72463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72463_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72463 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:119px;
  width:156px;
  height:30px;
  display:flex;
}
#u72463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72463_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72463.disabled {
}
#u72464_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72464_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72464 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:119px;
  width:213px;
  height:30px;
  display:flex;
}
#u72464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72464_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72464.disabled {
}
#u72465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72465 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72466 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:119px;
  width:30px;
  height:30px;
  display:flex;
}
#u72466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72467_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72467 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:119px;
  width:109px;
  height:30px;
  display:flex;
}
#u72467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72467_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72467.disabled {
}
#u72468_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72468_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72468 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
}
#u72468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72468_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72468.disabled {
}
#u72469_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72469_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72469 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:119px;
  width:80px;
  height:30px;
  display:flex;
}
#u72469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72469_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72469.disabled {
}
#u72470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72470 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:119px;
  width:30px;
  height:30px;
  display:flex;
}
#u72470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u72470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72471_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72471 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:119px;
  width:132px;
  height:30px;
  display:flex;
}
#u72471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72471_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72471.disabled {
}
#u72472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72472_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72472 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:119px;
  width:222px;
  height:30px;
  display:flex;
}
#u72472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72472_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72472.disabled {
}
#u72473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72473 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72474 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72475 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72475_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72476 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72476_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72477 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:216px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72478 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72479 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:49px;
  width:70px;
  height:30px;
  display:flex;
}
#u72479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72480 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72481 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72482 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u72483 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:248px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u72483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72483_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
