body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u121364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u121364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121365 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u121365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121366_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u121366 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u121366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u121367 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:181px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u121367 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121368 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:161px;
  width:1519px;
  height:138px;
}
#u121369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u121369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  display:flex;
}
#u121369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:30px;
}
#u121370 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:0px;
  width:520px;
  height:30px;
  display:flex;
}
#u121370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121371 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u121372 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:208px;
  height:30px;
  display:flex;
}
#u121372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121373 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121374 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121375 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u121376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:43px;
  height:36px;
  display:flex;
}
#u121376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u121377 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:30px;
  width:520px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121378 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
}
#u121378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u121379 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:208px;
  height:36px;
  display:flex;
}
#u121379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121380 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
}
#u121380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121381 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
}
#u121381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121382 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u121383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:43px;
  height:36px;
  display:flex;
}
#u121383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u121384 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:66px;
  width:520px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121385 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
}
#u121385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u121386 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:66px;
  width:208px;
  height:36px;
  display:flex;
}
#u121386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121387 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
}
#u121387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121388 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
}
#u121388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121389 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u121390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:43px;
  height:36px;
  display:flex;
}
#u121390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u121391 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:102px;
  width:520px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121392 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
}
#u121392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u121393 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:102px;
  width:208px;
  height:36px;
  display:flex;
}
#u121393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121394 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
}
#u121394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121395 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
}
#u121395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121396 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121397 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u121397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121398 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u121398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121399 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u121399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121399_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121399.selected {
}
#u121399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121400 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u121400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121400_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121400.selected {
}
#u121400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121401 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u121401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121401_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121401.selected {
}
#u121401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u121402 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:201px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u121402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121402_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u121403 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:201px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u121403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u121405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121408 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:157px;
  width:476px;
  height:267px;
  display:flex;
}
#u121408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121409 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:254px;
  width:347px;
  height:46px;
  display:flex;
  font-size:20px;
}
#u121409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u121410 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:189px;
  width:50px;
  height:50px;
  display:flex;
}
#u121410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
