body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u73919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u73919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u73919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73920 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u73920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u73920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:73px;
}
#u73921 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:39px;
  width:1529px;
  height:73px;
  display:flex;
}
#u73921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73922 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:76px;
  width:1246px;
  height:36px;
  display:flex;
}
#u73922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73923 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u73923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73924 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:179px;
  width:1442px;
  height:183px;
}
#u73925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:36px;
}
#u73925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:36px;
  display:flex;
}
#u73925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u73926 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:0px;
  width:186px;
  height:36px;
  display:flex;
}
#u73926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u73927 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:0px;
  width:330px;
  height:36px;
  display:flex;
}
#u73927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u73928 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:0px;
  width:274px;
  height:36px;
  display:flex;
}
#u73928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:27px;
}
#u73929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:652px;
  height:27px;
  display:flex;
  color:#0033CC;
}
#u73929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:27px;
}
#u73930 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:36px;
  width:186px;
  height:27px;
  display:flex;
  color:#363636;
}
#u73930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:27px;
}
#u73931 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:36px;
  width:330px;
  height:27px;
  display:flex;
  color:#0033CC;
}
#u73931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:27px;
}
#u73932 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:36px;
  width:274px;
  height:27px;
  display:flex;
  color:#0033CC;
}
#u73932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:30px;
}
#u73933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:652px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u73934 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:63px;
  width:186px;
  height:30px;
  display:flex;
}
#u73934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u73935 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:63px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u73936 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:63px;
  width:274px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:30px;
}
#u73937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:652px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u73938 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:93px;
  width:186px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u73938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u73939 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:93px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u73940 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:93px;
  width:274px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:30px;
}
#u73941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:652px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u73942 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:123px;
  width:186px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u73942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u73943 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:123px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u73944 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:123px;
  width:274px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:30px;
}
#u73945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:652px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u73946 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:153px;
  width:186px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u73946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u73947 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:153px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u73948 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:153px;
  width:274px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u73948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73949 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:117px;
  width:70px;
  height:30px;
  display:flex;
}
#u73949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:2px;
}
#u73950 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:157px;
  width:1528px;
  height:1px;
  display:flex;
}
#u73950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u73951 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:278px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u73951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u73952 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:278px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u73952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u73953 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:309px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u73953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u73954 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:309px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u73954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u73955 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:339px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u73955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u73956 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:339px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u73956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u73958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u73958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u73959 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:174px;
  width:331px;
  height:68px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u73959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u73959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
