body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u117504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u117504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u117504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117505 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u117505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u117505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:722px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u117507 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:1514px;
  height:722px;
  display:flex;
  color:#000000;
}
#u117507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117508 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:40px;
  width:1512px;
  height:40px;
  display:flex;
}
#u117508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u117508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u117509 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:52px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u117509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117510 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:704px;
  width:69px;
  height:30px;
  display:flex;
}
#u117510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117511 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:144px;
  width:76px;
  height:16px;
  display:flex;
}
#u117511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u117512 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:121px;
  width:1508px;
  height:1px;
  display:flex;
}
#u117512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u117513 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:88px;
  width:56px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u117513 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117514 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:175px;
  width:48px;
  height:16px;
  display:flex;
}
#u117514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117515 label {
  left:0px;
  width:100%;
}
#u117515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u117515 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:176px;
  width:100px;
  height:15px;
  display:flex;
}
#u117515 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u117515_img.selected {
}
#u117515.selected {
}
#u117515_img.disabled {
}
#u117515.disabled {
}
#u117515_img.selectedDisabled {
}
#u117515.selectedDisabled {
}
#u117515_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u117515_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u117516 label {
  left:0px;
  width:100%;
}
#u117516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u117516 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:176px;
  width:100px;
  height:15px;
  display:flex;
}
#u117516 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u117516_img.selected {
}
#u117516.selected {
}
#u117516_img.disabled {
}
#u117516.disabled {
}
#u117516_img.selectedDisabled {
}
#u117516.selectedDisabled {
}
#u117516_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u117516_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u117517 {
  position:absolute;
  left:69px;
  top:205px;
}
#u117517_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:339px;
  height:22px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117517_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:76px;
  height:16px;
  display:flex;
}
#u117519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u117520_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u117520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117520 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:0px;
  width:253px;
  height:22px;
  display:flex;
}
#u117520 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117520_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117520.disabled {
}
.u117520_input_option {
}
#u117521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u117521 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:276px;
  width:1508px;
  height:1px;
  display:flex;
}
#u117521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u117522 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:243px;
  width:56px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u117522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117522_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u117523 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:605px;
  width:1508px;
  height:1px;
  display:flex;
}
#u117523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u117524 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:572px;
  width:56px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u117524 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117525 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:623px;
  width:104px;
  height:16px;
  display:flex;
}
#u117525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117526 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:621px;
  width:72px;
  height:16px;
  display:flex;
}
#u117526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117527 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:621px;
  width:72px;
  height:16px;
  display:flex;
}
#u117527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117528 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:300px;
  width:1331px;
  height:90px;
}
#u117529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:30px;
}
#u117529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u117529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:30px;
}
#u117530 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:0px;
  width:665px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u117530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:30px;
}
#u117531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:666px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u117531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:30px;
}
#u117532 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:30px;
  width:665px;
  height:30px;
  display:flex;
  color:#000000;
}
#u117532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:30px;
}
#u117533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:666px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u117533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:30px;
}
#u117534 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:60px;
  width:665px;
  height:30px;
  display:flex;
  color:#000000;
}
#u117534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117535 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:650px;
  width:118px;
  height:16px;
  display:flex;
}
#u117535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117536 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:650px;
  width:72px;
  height:16px;
  display:flex;
}
#u117536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117537 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:654px;
  width:72px;
  height:16px;
  display:flex;
}
#u117537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117538 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:616px;
  width:30px;
  height:24px;
  display:flex;
}
#u117538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117539 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:650px;
  width:30px;
  height:24px;
  display:flex;
}
#u117539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117540 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:144px;
  width:144px;
  height:16px;
  display:flex;
}
#u117540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
