body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1552px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u118901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:884px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u118901 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:30px;
  width:1514px;
  height:884px;
  display:flex;
  color:#0000FF;
}
#u118901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118903 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:32px;
  width:1512px;
  height:40px;
  display:flex;
}
#u118903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u118903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u118904 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:44px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u118904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118905 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:863px;
  width:69px;
  height:30px;
  display:flex;
}
#u118905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u118906 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:135px;
  width:1508px;
  height:1px;
  display:flex;
}
#u118906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118907 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:103px;
  width:56px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118907 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118908 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:146px;
  width:48px;
  height:16px;
  display:flex;
}
#u118908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118909 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:146px;
  width:52px;
  height:15px;
  display:flex;
}
#u118909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118909_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u118910 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:382px;
  width:1508px;
  height:1px;
  display:flex;
}
#u118910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118911 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:354px;
  width:56px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118911 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118912 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:451px;
  width:76px;
  height:16px;
  display:flex;
}
#u118912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118913_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u118913_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u118913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118913 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:479px;
  width:1339px;
  height:170px;
  display:flex;
}
#u118913 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118913_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118913.disabled {
}
#u118914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118914 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:179px;
  width:76px;
  height:16px;
  display:flex;
}
#u118914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u118915 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:179px;
  width:117px;
  height:15px;
  display:flex;
  color:#1E1E1E;
}
#u118915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118916 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:420px;
  width:62px;
  height:16px;
  display:flex;
}
#u118916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u118917 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:420px;
  width:32px;
  height:16px;
  display:flex;
  color:#000000;
}
#u118917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118918 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:393px;
  width:90px;
  height:16px;
  display:flex;
}
#u118918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u118919 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:393px;
  width:32px;
  height:16px;
  display:flex;
  color:#000000;
}
#u118919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u118920 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:451px;
  width:32px;
  height:16px;
  display:flex;
  color:#000000;
}
#u118920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118921 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:641px;
  width:56px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118921 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u118922 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:670px;
  width:1508px;
  height:1px;
  display:flex;
}
#u118922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118923 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:702px;
  width:1029px;
  height:138px;
}
#u118924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u118924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u118924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u118925 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u118925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u118926 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u118926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
}
#u118927 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:516px;
  height:30px;
  display:flex;
}
#u118927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
  color:#000000;
}
#u118928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118929 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
}
#u118929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118930 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
}
#u118930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:36px;
}
#u118931 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:30px;
  width:516px;
  height:36px;
  display:flex;
}
#u118931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
  color:#000000;
}
#u118932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118933 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
}
#u118933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118934 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
}
#u118934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:36px;
}
#u118935 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:66px;
  width:516px;
  height:36px;
  display:flex;
}
#u118935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
  color:#000000;
}
#u118936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118937 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u118937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u118938 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
}
#u118938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:36px;
}
#u118939 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:102px;
  width:516px;
  height:36px;
  display:flex;
  color:#000000;
}
#u118939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118940 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:493px;
  width:1288px;
  height:148px;
}
#u118941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u118941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  display:flex;
}
#u118941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u118942 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:123px;
  height:20px;
  display:flex;
}
#u118942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u118943 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:125px;
  height:20px;
  display:flex;
}
#u118943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u118944 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:0px;
  width:132px;
  height:20px;
  display:flex;
}
#u118944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u118945 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:201px;
  height:20px;
  display:flex;
}
#u118945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u118946 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:143px;
  height:20px;
  display:flex;
}
#u118946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u118947 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:0px;
  width:146px;
  height:20px;
  display:flex;
}
#u118947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u118948 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:0px;
  width:143px;
  height:20px;
  display:flex;
}
#u118948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u118949 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:0px;
  width:142px;
  height:20px;
  display:flex;
}
#u118949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u118950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:133px;
  height:36px;
  display:flex;
  color:#1E1E1E;
}
#u118950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u118951 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:20px;
  width:123px;
  height:36px;
  display:flex;
}
#u118951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u118952 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:20px;
  width:125px;
  height:36px;
  display:flex;
}
#u118952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u118953 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:20px;
  width:132px;
  height:36px;
  display:flex;
}
#u118953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u118954 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:20px;
  width:201px;
  height:36px;
  display:flex;
}
#u118954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u118955 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:20px;
  width:143px;
  height:36px;
  display:flex;
}
#u118955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u118956 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:20px;
  width:146px;
  height:36px;
  display:flex;
}
#u118956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u118957 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:20px;
  width:143px;
  height:36px;
  display:flex;
}
#u118957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u118958 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:20px;
  width:142px;
  height:36px;
  display:flex;
}
#u118958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u118959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:133px;
  height:36px;
  display:flex;
  color:#1E1E1E;
}
#u118959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u118960 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:56px;
  width:123px;
  height:36px;
  display:flex;
}
#u118960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u118961 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:56px;
  width:125px;
  height:36px;
  display:flex;
}
#u118961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u118962 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:56px;
  width:132px;
  height:36px;
  display:flex;
}
#u118962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u118963 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:56px;
  width:201px;
  height:36px;
  display:flex;
}
#u118963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u118964 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:56px;
  width:143px;
  height:36px;
  display:flex;
}
#u118964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u118965 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:56px;
  width:146px;
  height:36px;
  display:flex;
}
#u118965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u118966 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:56px;
  width:143px;
  height:36px;
  display:flex;
}
#u118966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u118967 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:56px;
  width:142px;
  height:36px;
  display:flex;
}
#u118967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u118968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:133px;
  height:36px;
  display:flex;
  color:#1E1E1E;
}
#u118968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u118969 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:92px;
  width:123px;
  height:36px;
  display:flex;
}
#u118969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u118970 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:92px;
  width:125px;
  height:36px;
  display:flex;
}
#u118970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u118971 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:92px;
  width:132px;
  height:36px;
  display:flex;
}
#u118971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u118972 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:92px;
  width:201px;
  height:36px;
  display:flex;
}
#u118972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u118973 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:92px;
  width:143px;
  height:36px;
  display:flex;
}
#u118973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u118974 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:92px;
  width:146px;
  height:36px;
  display:flex;
}
#u118974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u118975 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:92px;
  width:143px;
  height:36px;
  display:flex;
}
#u118975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u118976 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:92px;
  width:142px;
  height:36px;
  display:flex;
}
#u118976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u118977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:133px;
  height:20px;
  display:flex;
}
#u118977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u118978 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:128px;
  width:123px;
  height:20px;
  display:flex;
}
#u118978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u118979 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:128px;
  width:125px;
  height:20px;
  display:flex;
}
#u118979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u118980 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:128px;
  width:132px;
  height:20px;
  display:flex;
}
#u118980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u118981 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:128px;
  width:201px;
  height:20px;
  display:flex;
}
#u118981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u118982 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:128px;
  width:143px;
  height:20px;
  display:flex;
}
#u118982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u118983 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:128px;
  width:146px;
  height:20px;
  display:flex;
}
#u118983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u118984 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:128px;
  width:143px;
  height:20px;
  display:flex;
}
#u118984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u118985 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:128px;
  width:142px;
  height:20px;
  display:flex;
}
#u118985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118986 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:146px;
  width:76px;
  height:16px;
  display:flex;
}
#u118986 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118986_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118987 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:147px;
  width:15px;
  height:15px;
  display:flex;
}
#u118987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118988 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:294px;
  width:76px;
  height:16px;
  display:flex;
}
#u118988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118988_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118989 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:267px;
  width:76px;
  height:16px;
  display:flex;
}
#u118989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118989_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118990 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:217px;
  width:56px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u118990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118990_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u118991 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:246px;
  width:1508px;
  height:1px;
  display:flex;
}
#u118991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u118992 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:294px;
  width:76px;
  height:16px;
  display:flex;
  color:#1E1E1E;
}
#u118992 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u118993 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:267px;
  width:133px;
  height:16px;
  display:flex;
  color:#1E1E1E;
}
#u118993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u118994 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:293px;
  width:148px;
  height:15px;
  display:flex;
  color:#000000;
}
#u118994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118994_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u118995 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:295px;
  width:148px;
  height:15px;
  display:flex;
  color:#000000;
}
#u118995 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
