body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u77212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u77212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77213 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u77213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u77213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77214_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1528px;
  height:5px;
}
#u77214 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:148px;
  width:1525px;
  height:2px;
  display:flex;
}
#u77214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77215_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77215 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:172px;
  width:280px;
  height:30px;
  display:flex;
}
#u77215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77215_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77215.disabled {
}
#u77216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77216_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77216 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:172px;
  width:171px;
  height:30px;
  display:flex;
}
#u77216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77216_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77216.disabled {
}
#u77217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77217 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:172px;
  width:80px;
  height:30px;
  display:flex;
}
#u77217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77218 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:222px;
  width:1525px;
  height:350px;
}
#u77219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u77219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
  display:flex;
}
#u77219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:36px;
}
#u77220 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:0px;
  width:385px;
  height:36px;
  display:flex;
  text-align:left;
}
#u77220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u77221 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:227px;
  height:36px;
  display:flex;
}
#u77221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u77222 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:0px;
  width:163px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u77222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:36px;
}
#u77223 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:0px;
  width:253px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u77223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:36px;
}
#u77224 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:0px;
  width:218px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u77224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:36px;
}
#u77225 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:0px;
  width:196px;
  height:36px;
  display:flex;
}
#u77225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:100px;
}
#u77226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:83px;
  height:100px;
  display:flex;
}
#u77226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:100px;
}
#u77227 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:36px;
  width:385px;
  height:100px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u77227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:100px;
}
#u77228 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:36px;
  width:227px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u77228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:100px;
}
#u77229 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:36px;
  width:163px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#0000FF;
}
#u77229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:100px;
}
#u77230 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:36px;
  width:253px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#0000FF;
}
#u77230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:100px;
}
#u77231 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:36px;
  width:218px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#0000FF;
}
#u77231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:100px;
}
#u77232 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:36px;
  width:196px;
  height:100px;
  display:flex;
  color:#0000FF;
}
#u77232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:100px;
}
#u77233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:83px;
  height:100px;
  display:flex;
}
#u77233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:100px;
}
#u77234 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:136px;
  width:385px;
  height:100px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u77234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:100px;
}
#u77235 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:136px;
  width:227px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u77235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:100px;
}
#u77236 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:136px;
  width:163px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u77236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:100px;
}
#u77237 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:136px;
  width:253px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u77237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:100px;
}
#u77238 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:136px;
  width:218px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u77238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:100px;
}
#u77239 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:136px;
  width:196px;
  height:100px;
  display:flex;
  color:#0000FF;
}
#u77239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u77240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:83px;
  height:30px;
  display:flex;
}
#u77240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:30px;
}
#u77241 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:236px;
  width:385px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u77241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u77242 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:236px;
  width:227px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u77243 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:236px;
  width:163px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u77244 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:236px;
  width:253px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u77245 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:236px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u77246 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:236px;
  width:196px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u77246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u77247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:83px;
  height:30px;
  display:flex;
}
#u77247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:30px;
}
#u77248 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:266px;
  width:385px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u77248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u77249 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:266px;
  width:227px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u77250 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:266px;
  width:163px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u77251 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:266px;
  width:253px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u77252 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:266px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u77253 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:266px;
  width:196px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u77253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u77254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:83px;
  height:30px;
  display:flex;
}
#u77254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:30px;
}
#u77255 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:296px;
  width:385px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u77255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u77256 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:296px;
  width:227px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u77257 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:296px;
  width:163px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u77258 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:296px;
  width:253px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u77259 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:296px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u77259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u77260 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:296px;
  width:196px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u77260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u77261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:83px;
  height:24px;
  display:flex;
}
#u77261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:24px;
}
#u77262 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:326px;
  width:385px;
  height:24px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u77262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:24px;
}
#u77263 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:326px;
  width:227px;
  height:24px;
  display:flex;
  font-size:14px;
}
#u77263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
}
#u77264 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:326px;
  width:163px;
  height:24px;
  display:flex;
  font-size:14px;
}
#u77264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
}
#u77265 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:326px;
  width:253px;
  height:24px;
  display:flex;
  font-size:14px;
}
#u77265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
}
#u77266 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:326px;
  width:218px;
  height:24px;
  display:flex;
  font-size:14px;
}
#u77266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:24px;
}
#u77267 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:326px;
  width:196px;
  height:24px;
  display:flex;
  color:#0000FF;
}
#u77267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77268_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1528px;
  height:5px;
}
#u77268 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:222px;
  width:1525px;
  height:2px;
  display:flex;
  color:#0099FF;
}
#u77268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:60px;
}
#u77269 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:44px;
  width:1525px;
  height:60px;
  display:flex;
}
#u77269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77270 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:57px;
  width:868px;
  height:34px;
  display:flex;
}
#u77270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u77271 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:172px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u77271 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77272 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:111px;
  width:92px;
  height:30px;
  display:flex;
}
#u77272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
