body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u121462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u121462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121463 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1524px;
  height:730px;
  display:flex;
}
#u121463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121464_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u121464 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u121464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u121465 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:181px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u121465 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121466 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:161px;
  width:1519px;
  height:138px;
}
#u121467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u121467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  display:flex;
}
#u121467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:30px;
}
#u121468 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:0px;
  width:520px;
  height:30px;
  display:flex;
}
#u121468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121469 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u121470 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:208px;
  height:30px;
  display:flex;
}
#u121470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121471 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121472 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u121473 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:0px;
  width:187px;
  height:30px;
  display:flex;
}
#u121473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u121474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:43px;
  height:36px;
  display:flex;
}
#u121474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u121475 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:30px;
  width:520px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121476 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
}
#u121476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u121477 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:208px;
  height:36px;
  display:flex;
}
#u121477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121478 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
}
#u121478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121479 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
}
#u121479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121480 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:30px;
  width:187px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u121481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:43px;
  height:36px;
  display:flex;
}
#u121481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u121482 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:66px;
  width:520px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121483 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
}
#u121483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u121484 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:66px;
  width:208px;
  height:36px;
  display:flex;
}
#u121484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121485 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
}
#u121485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121486 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
}
#u121486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121487 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:66px;
  width:187px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u121488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:43px;
  height:36px;
  display:flex;
}
#u121488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:36px;
}
#u121489 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:102px;
  width:520px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u121489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121490 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
}
#u121490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
}
#u121491 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:102px;
  width:208px;
  height:36px;
  display:flex;
}
#u121491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121492 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
}
#u121492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121493 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
}
#u121493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u121494 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:102px;
  width:187px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u121494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121495 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u121495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121496 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u121496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121497 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u121497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121497_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121497.selected {
}
#u121497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121498 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u121498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121498_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121498.selected {
}
#u121498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121499 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u121499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121499_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121499.selected {
}
#u121499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u121500 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:201px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u121500 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u121501 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:201px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u121501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u121503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121506 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:157px;
  width:476px;
  height:267px;
  display:flex;
}
#u121506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121507 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:282px;
  width:347px;
  height:69px;
  display:flex;
  font-size:20px;
}
#u121507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u121508 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:202px;
  width:50px;
  height:50px;
  display:flex;
}
#u121508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
